# これはコメントです
# githubの管理で無視してほしいフォルダ・ファイル。

# MOVIEフォルダは無視
# /がフォルダの前にあると、相対パスのフォルダのみ無視
# /がフォルダの前に無いと、そのフォルダを全て無視
MOVIE/

# MUSICフォルダは無視
MUSIC/

# Fireworks.mp4は管理したい！
!/MOVIE/Fireworks.mp4

# 特定の拡張子を無視
*.txt